# Make vim the default editor
export EDITOR="vim"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

#Don't user gnome to ask for password
unset SSH_ASKPASS

#PyEnv
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

#CPANminus
eval `perl -I ~/perl5/lib/perl5 -Mlocal::lib`

## Don't set these on OS X
if [[ ! "$OSTYPE" =~ ^darwin ]]; then 
  export BREWPATH=$HOME/.linuxbrew
  export PATH="$BREWPATH/bin:$PATH"
  export MANPATH="$BREWPATH/share/man:$MANPATH"
  export INFOPATH="$BREWPATH/share/info:$INFOPATH"
fi
